einops==0.7.0
numpy==1.24.4
onnx==1.14.1
onnxruntime==1.16.1
onnxsim==0.4.33
ptflops==0.7
tqdm
hydra-core
torchmetrics
librosa
requests
soundfile
lightning
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.0+cu128
torchaudio==2.7.0
pandas